[submodule "segmentation_refinement/CascadePSP"]
	path = segmentation_refinement/CascadePSP
	url = https://github.com/pedroCabrera/CascadePSP
[submodule "RobustVideoMatting/RobustVideoMatting"]
	path = RobustVideoMatting/RobustVideoMatting
	url = https://github.com/PeterL1n/RobustVideoMatting
[submodule "segment-anything/segment-anything"]
	path = segment-anything/segment-anything
	url = https://github.com/facebookresearch/segment-anything
[submodule "ModNet\\MODNet"]
	path = ModNet\\MODNet
	url = https://github.com/ZHKKKe/MODNet

[submodule "SemanticGuidedHumanMatting\\SemanticGuidedHumanMatting"]
	path = SemanticGuidedHumanMatting\\SemanticGuidedHumanMatting
	url = https://github.com/cxgincsu/SemanticGuidedHumanMatting
