av
tqdm
pims
numpy
opencv-python
requests
six
mock

--extra-index-url https://download.pytorch.org/whl/cu121
torch
--extra-index-url https://download.pytorch.org/whl/cu121
torchvision
--extra-index-url https://download.pytorch.org/whl/cu121
torchaudio 